*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/res/drawable/Screenshot_1492097602.png

app/src/main/res/drawable/Screenshot_1492097607.png

app/src/main/res/drawable/Screenshot_1492103033.png
